// Fonts
$heebo: "Heebo", Helvetica;
$allerta: "Allerta", Helvetica;
$almarai: "Almarai", Helvetica;
$hermeneus-one: "Hermeneus One", Helvetica;

// Colors
$bleu: #3848f7;
$gray1: #424242;
$gray2: #4a4a4a;
$darkG: #3f3333;
$gradient: linear-gradient(
    180deg,
    rgba(209, 245, 239, 0.39) 66.96%,
    rgba(209, 245, 239, 0) 100%
);
$red: #f93c3c;
$red2: #ee5c5c;
$pink: #ff9999;
$bleuLight: #d1f5ef;
$black: #363333;
$bleu1: #7b86ff;
$bleu2: #5563ff;
